@import '../../styles/variables.scss';

.cart {
  width: 100%;
  display: flex;
  align-self: flex-start;

  &__products {
    width: 70%;
    border: 2px solid $brown-dark;
    border-radius: 5px;
    margin: 25px;
    overflow: hidden;

    &__title-and-page-control {
      display: flex;
      justify-content: space-between;
      background-color: $brown-light;
    }

    &__title {
      font-size: 28px;
      margin: 10px;
    }

    &__page-control {
      display: flex;
      align-items: center;

      .limit__text,
      .pages__text {
        font-size: 22px;
      }
    }

    &__limit {
      display: flex;
      align-items: center;

      .cart__products__limit-input {
        width: 80px;
        font-size: 24px;
        text-align: center;
        margin: 10px;
        border-radius: 5px;
      }
    }

    &__pages {
      display: flex;
      align-items: center;
      margin-left: 40px;

      .page__number {
        font-size: 24px;
        margin: 10px;
      }

      .pages-button {
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 5px;
        color: $gray;
        font-size: 22px;
        background-color: $brown-dark;
        margin: 10px;
        transition: all 0.3s;
        cursor: pointer;
  
        &:hover {
          transform: scale(1.05);
          color: $white;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    border-top: 1px solid $brown-dark;

    &__index {
      width: 20px;
      text-align: center;
      font-size: 22px;
      margin: 10px;
    }

    &__info {
      display: flex;
      align-items: center;
    }

    &__img {
      width: 100px;
      border: 1px solid $brown-dark;
      border-radius: 5px;
      margin: 10px 0;
    }

    &__name {
      margin: 20px;
      font-size: 24px;
    }

    &__number {
      display: flex;
      margin-left: auto;
      margin-right: 10px;
    }

    &__number__controls {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px;

      .cart__item__inc-dec {
        display: flex;
        justify-content: center;
        align-items: center;

        .cart__item__button {
          width: 30px;
          height: 30px;
          border: 2px solid black;
          border-radius: 5px;
          color: $gray;
          font-size: 22px;
          background-color: $brown-dark;
          transition: all 0.3s;
          cursor: pointer;
    
          &:hover {
            transform: scale(1.05);
            color: $white;
          }
        }

        .cart__item__quantity {
          width: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          margin: 10px;
        }
      }
    }

    &__stock-text {
      font-size: 18px;
    }

    &__amount-text {
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 28px;
    }
  }

  &__total {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
    width: 20%;
    border: 2px solid $brown-dark;
    border-radius: 5px;
    margin: 25px;
    overflow: hidden;

    &__title {
      width: 100%;
      text-align: center;
      font-size: 28px;
      padding: 10px;
      background-color: $brown-light;
      border-bottom: 1px solid $brown-dark;
    }

    &__products,
    &__total {
      text-align: center;
      font-size: 28px;
      margin-top: 20px;
    }

    &__promo {
      width: 70%;
      text-align: center;
      font-size: 22px;
      border: 1px solid $brown-dark;
      border-radius: 5px;
      padding: 5px;
      margin: 20px;
    }

    &__buy-btn {
      width: 60%;
      border: 2px solid black;
      border-radius: 5px;
      color: $gray;
      font-size: 24px;
      background-color: $brown-dark;
      padding: 10px;
      margin: 20px;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        color: $white;
      }
    }
  }
}