@import '../../styles/variables.scss';

.filters {
  width: 25%;
  margin: 25px;
  padding: 20px;
  border: 2px solid $brown-dark;
  border-radius: 5px;
  font-size: 1.2rem;

  .search-bar,
  .sort-bar,
  .reset-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
  }

  .search-bar__input {
    width: 60%;
    border-radius: 5px;
    border: 2px solid $brown-dark;
  }

  .sort-bar__select {
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid $brown-dark;
  }

  .sort-bar__view {
    display: flex;
    margin-left: auto;

    .sort-bar__view-big,
    .sort-bar__view-small {
      width: 32px;
      height: 32px;
      margin: 5px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      flex-wrap: wrap;
      cursor: pointer;

      .sort-bar__view-big-point,
      .sort-bar__view-small-point {
        width: 6.5px;
        height: 6.5px;
        border-radius: 50%;
        background-color: $brown-dark;
      }

      .sort-bar__view-big-point {
        width: 9px;
        height: 9px;
      }
    }
  }

  .reset-total {
    gap: 10%;

    .reset-total__btn-reset, 
    .reset-total__btn-copy {
      width: 50%;
      border: 2px solid black;
      border-radius: 5px;
      padding: 5px 10px;
      color: $gray;
      background-color: $brown-dark;
      transition: all 0.3s;
      cursor: pointer;

      &:hover {
        transform: scale(1.05);
        color: $white;
      }
    }
  }

  .filter
  .slider {
    margin: 10px 0;
    line-height: 120%;
  }

  .title {
    text-align: center;
    margin-bottom: 5px;
  }
  
  .filter {

    .filter__checkbox {
      display: flex;
      align-items: center;
      
      .filter__input-checkbox,
      .filter__label-checkbox {
        cursor: pointer;
      }
  
      .filter__input-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
  
        &+label {
          display: inline-flex;
          align-items: center;
          user-select: none;
        }
  
        &+label::before {
          content: '';
          display: inline-block;
          width: 1em;
          height: 1em;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid $brown-dark;
          border-radius: 0.25em;
          margin-right: 0.5em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }
  
        &:checked+label::before {
          border-color: $brown-dark;
          background-color: $brown-dark;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
  
        &:not(:disabled):not(:checked)+label:hover::before {
          border-color: white;
        }
  
        &:not(:disabled):active+label::before {
          background-color: white;
          border-color: white;
        }
  
        &:focus+label::before {
          box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
        }
  
        &:focus:not(:checked)+label::before {
          border-color: white;
        }
  
        &:disabled+label::before {
          background-color: white;
        }
      }
    }
  }

  .slider {

    .slider__out-data {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .input-number::-webkit-outer-spin-button,
      .input-number::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      .input-number {
        -moz-appearance: textfield;
      }

      .slider__from-data,
      .slider__to-data {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .slider__to-data {
        justify-content: flex-end;
      }

      .slider__from-data__input-price,
      .slider__to-data__input-price,
      .slider__from-data__input-stock,
      .slider__to-data__input-stock {
        width: 50%;
        border-radius: 5px;
        border: 2px solid $brown-dark;
      }

      .slider__from-data__input-price,
      .slider__to-data__input-price {
        margin-left: 10px;
      }

      .slider__from-data__input-stock,
      .slider__to-data__input-stock {
        margin-left: 20px;
      }
    }

    .slider__multi-range {
      height: 60px;
      display: flex;
      align-items: center;

      .multi-range__range {
        position: relative;
        width: 100%;
        height: 2px;
        background-color: $brown-dark;

        .multi-range__btn {
          position: absolute;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: none;
          transform: translateY(-50%);
          cursor: pointer;

          &.right-price,
          &.right-stock {
            transform: translateY(-50%) translateX(-100%);
          }
        }
      }
    }
  }
}
