@import '../../styles/variables.scss';

.order-background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  color: $white;

  .order {
    padding: 15px;
    background-color: $brown-dark;
    border: 2px solid $gray;
    border-radius: 15px;

    &__title {
      text-align: center;
    }

    &__form {
      display: flex;
      width: 300px;
      flex-direction: column;
      gap: 3px;
    }

    &__field {
      display: flex;
      flex-direction: column;
      gap: 3px;
    }

    &__input {
      outline: none;
      border-radius: 3px;
      box-shadow: none;
      border-color: transparent;
      padding: 3px;
    }

    &__input_card {
      text-align: center;
    }

    &__field-message {
      color: red;
      font-size: 13px;
      visibility: hidden;
    }

    &__submit {
      border-radius: 5px;
      padding: 5px 10px;
      color: $gray;
      background-color: $brown-light;
      transition: all 0.3s;
      cursor: pointer;
      width: 70%;
      margin: 0 auto;

      &:hover {
        color: $white;
        transform: scale(1.05);
      }
    }

    &__card-title {
      text-align: center;
    }
  }

  .card-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid $gray;
    padding: 10px;
    border-radius: 10px;
    background-color: $brown-light;
    margin-bottom: 5px;

    &__img {
      height: 15px;
    }

    &__additional-info {
      display: flex;
      justify-content: space-between;
    }
  }
}
