@import '../../styles/variables.scss';

.footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 20px;
  align-items: center;
  background-color: $brown-light;
  color: $white;

  .logo {
    height: 30px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
